#brown{
    width:100px;
    height:100px;
    background-color:brown;
    border:1px solid blue;
    position:relative;
    left:200px;
  }
  
  #blue{
    width:200px;
    height:200px;
    background-color:blue;
    position:relative;
    left:200px;
  }
  #red{
    width:100px;
    height:200px;
    background-color:red;
    position:relative;
    bottom:200px;
    left:100px;
  }
  #tur{
    width:125px;
    height:50px;
    background-color:#5ee6e1;
    border:1px solid black;
    position: relative;
    bottom: 320px;
    left: 50px;
  }